* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 
  font-family: "Rubik", sans-serif;
  /* background-color: #e6f0e6; */
  
  
}
.about-header{
    background-image: linear-gradient(To bottom,rgba(34,34,34,0.6),rgba(247, 206, 43, 0.6)),url(images/img-1.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
   
}
.about-header-container{
padding: 2rem;
box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
margin-bottom: 1rem;
}
.about-heading{
    font-weight: 700;
    color: #006400;
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
}
.about-navigation{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
   
}
.about-header-span{
    color: #006400;
    font-size: 0.6rem;
    font-weight: 700;
}
.about-navigation li a:link,
.about-navigation li a:visited{
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}
.about-navigation li a:hover,
.about-navigation li a:active{
    color: #006400;
    text-decoration: underline;
}
/**********************/
/***STORY SECTION***/
/**********************/
.our-story{
     display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem 2rem 1rem; 
}
.our-story-img{
    width: 100%;
    border-radius: 32px;
    
}
.story-heading{
    text-align: center;
    font-size:  1.4rem;
    margin: 2rem 0 1rem 0;
    font-weight: 600;
    color: #006400;
}
.about-paragraphy{
    text-align: center;
    font-size: 1rem;
    color: #555;
    line-height: 1.2;
}
/**********************/
/***VISION AND MISSION SECTION***/
/**********************/
.vision-and-mission{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem 2rem 1rem 2rem;
}
.vision-heading,.mission-heading{
    color: #006400;
    font-size:  1.4rem;
    margin: 2rem 0 1rem 0;
    font-weight: 600;

}
.vision-paragraphy,.mission-paragraphy{
    font-size: 1rem;
    color: #555;
    line-height: 1.2;
}
.our-team-section{
    padding:1rem ;
}

.team-members-heading{
    display: inline-block;
    text-align: center;
    font-size: 0.8rem;
    margin: 2rem 0 1rem 4.4rem;
    padding: 0 2rem 0.6rem 2rem;
    border-bottom: 2px solid #006400;
}

/**********************/
/***COMMITMENT SECTION***/
/**********************/
.our-commitment{
    padding: 2rem;
}
.commitment{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fdc500;
    padding: 2rem;
}
.commit-heading{

}

/**********************/
/***TEAM MEMBERS SECTION***/
/**********************/
.our-team-members{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.team-member-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
     box-shadow: 0 2px 8px rgba(0,0,0,0.15);
     border-radius: 10px;
     overflow: hidden;
}
.team-member-info{
   
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 2rem 1rem;
}
.team-member span{
    display: block;
}
.team-member-container img{
    width: 100%;

}
.member-name{
    font-size: 1.4rem;
    font-weight: 600;
    color:#002900 ;
}
.member-title{
    color: #006400;

}
.about-member{
  color: #555;
}
.member-social-links{
    display: flex;
    gap: 1rem;
   

}
.member-social-links a:link,
.member-social-links a:active{
    display: inline-block;
     color: #fdc500;
      font-weight: bold;
      text-decoration: none;
}
